/10exceptions.py
/bacon.txt
/BookP1.py
/dateFormatter.py
/Dict.py
/filrIO.py
/Hello.py
/isPhoneNum.py
/Lists.py
/mydata.bak
/mydata.dat
/mydata.dir
/OOP.py
/phoneAndEmail.py
/qr.png
/QRcode.py
/sendEmail.py
/sonnet29.txt
/textfile.txt